body{
    margin: 0;
    padding: 0;
    font-family: 'Smythe';
    position: relative;

} 

.hero{
    background-image: url("images/Restaurant.jpeg");
    background-size: cover;
    background-position: center;
    padding: 25px 25px 50px 25px;
}

.hero h1, h2{
    color: whitesmoke;
}


h1{
    display: inline-block;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 50px;
}

h2{
    font-weight: 400;
    color: whitesmoke;
    margin-top: 0;
}

.food-item{
    font-size: 100px;
    margin: 0px; 
}


.food-item-desc h3, .food-item-desc p{
    margin: 0px 0px 5px 0px;
}

.food-name{
    font-size:45px;
    font-weight: 400;
    margin-bottom: 0px;
}

.ingredients{
    font-size: 20px;
    font-weight: 400;
    color: #8B8B8B;
}

.price{
    font-size: 20px;
    font-weight: 400;
}


.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #D2D2D2;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 200;
    cursor: pointer;
}


.second-sec{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}





/* Order Overview */

.order-view {
    margin-top: 20px;
    padding-bottom: 25px;
    
}

.your-order{
    text-align: center;
}

.your-order h1{
    display: inline;
}


.order-line{
    justify-content: space-between;
    align-content: center;
    padding-bottom: 10px;
    border-bottom: none;
    margin: 20px 40px 0px 40px;
    padding-bottom: 25px;

}

.order-line-left h3{
    margin-top: 0;
    margin-right: 20px;
}

.rmv-btn{
    background-color: white;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    color: #8B8B8B;
}

.price-summary{
    margin: 20px 40px 0px 40px;
    justify-content: space-between;
    border-top: 1px solid #D2D2D2;;
}

.order-line button{
    justify-content: center;
}

.order-btn{
    text-align: center;
    padding-top: 15px;
}

#order-btn{
    font-family: 'Roboto';
    background-color: #16DB99;
    color: whitesmoke;
    font-weight: 500;
    border: none;
    padding: 20px 0;
    width: 90%;
    cursor: pointer;
  }



.form{
    position: absolute;
    background-color: white;
    top: 15em;
    left: em;
    display: flex;
    flex-direction: column;
    padding: 3em 1em;
    margin: 1em 6em;
    font-family: 'Roboto';
    box-shadow: 5.19px 5.19px 255.4px rgba(0, 0, 0, 0.5);
}

.form h3{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

.form input{
    margin-bottom: 1em;
    font-size: 1.2rem;
    padding: 1em 1em;
    width: 25em;
    color: #8B8B8B;
}

.form button{
    font-family: 'Roboto';
    background-color: #16DB99;
    color: whitesmoke;
    font-weight: 500;
    border: none;
    padding: 1em 1em;
    width: 100%;
    cursor: pointer;
    font-size: 1.2rem;
   
}



.thank-you{
    text-align: center;
}

/* Utilities */

.flex{
    display: flex;
}

.container{
    width: 700px;
    margin: 0 auto;
    padding: 0;
}

.sub-container{
    margin: 30px 40px 0px 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D2D2D2;  
}

.border{
    border: 1px solid #D2D2D2;
}

.invisible{
    display: none;
}