
body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url("./downloads/table.png");
background-size: cover;
text-align: center;
color: white;
font-weight: bold;
}

h1{
  color: goldenrod;
}

#message-el{
font-style: italic;
}

button{
  background: goldenrod;
  border: none;
  border-radius: 2px;
  color: #106f32;
  font-weight: bold;
  padding: 5px;
  width: 150px; 
}

.draw-card{
  margin-top: 5px;
}