html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body{
    padding: 1.5em;
    height: 100vh;
    background-color: #AADFC5;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    color: #7A4900;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
}

header a{
    font-size: 1.5rem;
}
.menu{
    
    margin-left: auto;
}

header svg{
    cursor: pointer;
    width: 2rem;
}

nav{
    text-align: right;    
}

nav ul{
    /* display: none; */
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    background-color: #47946E;
    height: 100vh;
    list-style-type: none;
    padding: 1.5em;
    transform: translateX(100%);
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
}

nav ul li{
    margin-bottom: 1em;
    color: white;
}

main{
    text-align: center;
    margin-top: 5em;
}
main p{
    line-height: 2em;
    font-weight: 500;
    width: 80%;
    margin: 0 auto 1em;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}

.cta{
    background-color: #7A4900;
    color: white;
    padding: 0.8em;
    width: 80%;
    border-radius: 1.5em;
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 1.1em;
}

.outline{
    border: 1px solid #7A4900;
    background-color: transparent;
    color: #7A4900;
    padding: 0.8em;
    border-radius: 1.5em;
    margin-bottom: 1.5em;
}


.open-nav{
    visibility: unset;
    transform: translateX(0);
    opacity: 1;
}

.plant-container{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

img{
    width: 600px;
    position: absolute;
    bottom: -30%;
    right: -70%;
    opacity: 0.2;    
}

.fern{
    background: url('fern.svg') no-repeat;
    transform: scaleY(-1);
    height: 50vh;
    width: 100%;
    position: absolute;
    top: -15%;
    left: 0;
    z-index: -1;
    opacity: 0.1;
}


/* Media Queries */

@media (min-width: 750px){

    .menu, .exit{
        visibility: hidden;
    }

    nav ul{
        display: flex;
        margin-top: -1.3em;
        position: unset;
        background-color: unset;
        height: unset;
        list-style-type: none;
        padding: 0;
        transform: translateX(0);
        transition: none;
        visibility: unset;
        opacity: 1;
        
    }

    nav ul li{
        color: #7A4900;
        font-weight: bold;
        font-size: 0.8em;
        margin-right: 1em;
        margin-top: 0;
    }

    nav ul li:last-child{
        margin-right: 0;
        
    }

    .btn-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
    }

    .btn-container a{
        width: 40%;
        margin-right: 1em;
    }
    
    main{
        margin-top: 9em;
    }
    main h1{
        font-size: 3.5rem;
    }

    main p{
        font-size: 1.2rem;
    }

    img{
        width: 600px;
        position: absolute;
        bottom: -30%;
        right: -30%;
        opacity: 0.2;    
    }

    .fern{
        background: url('fern.svg') no-repeat;
        transform: scaleY(-1);
        height: 60vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.1;
    }

}

@media (min-width: 1100px){
     img{
        width: 1000px;   
    }

    .fern{
        height: 80vh;
        
    }

}


/*
- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/