body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input{
  background-color: white;
  border: 1px solid #5f9341;
  box-sizing: border-box;  padding: 5px 0px 5px 5px;
  width: 100%;
  /* box-sizing will include the padding in the sizing of the box */
}

#input-btn{
  background-color: #5f9341;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px 20px;
}

#tab-btn{
  background-color: #5f9341;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px 20px;
}

#delete-btn{
  background-color: white;
  border: solid #5f9341 1px;
  color: #5f9341;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px 20px;
}

ul{
  margin-top: 20px;
  padding: 0;
}

li{
  list-style-type: none;
}

li a{
  color: #5f9341;
}