@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter';
  background-color: #23252C;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent{
  width: 317px;
  height: 780px;
  margin-top: 3em;
  border-radius: 1em;
  background-color: #1A1B21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar{
 width: 100%;
 height: 317px;
 border-top-left-radius: 1em;
 border-top-right-radius: 1em;
}


.header{
  padding: 0 1em;
}

.user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -1.3em 0 1.3em 0;
  
}

.user .title,
.user .name{
  margin: 0;
}

.user .name{
  color: #FFFFFF;
  font-size: 1.5em;
}

.user .title{
  color: #F3BF99;
  font-size: 0.8em;
  font-weight: 200;
}

.user .site{
  margin-top: 0.6em;
  font-size: 0.6em;
  color: #F5F5F5;
  font-weight: 200;
}


/* CTA CSS  */
.cta-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;

}

.cta-left, .cta-right{
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 0.3em;
  width: 50%;
  margin: 0 0.9em;
  padding: 0.5em 1.3em;
  background-color: red;
  text-decoration: none;
  
}

.cta-left > h4, .cta-right > h4{
  margin: 0;
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 0.4em;
}

.cta-left{
  background-color: #D1D5DB;
  color: #374151;
}

.mail-btn{
  fill: #1E1F26;
}

.cta-right{
  background-color: #5093E2;
  color: #FFFFFF;
}

.linkedin-btn{
  fill: #FFFFFF;
}

/* Main CSS */

.main{
  color: #FFFFFF;
  padding: 0.5em 2em ;

}

.about > h2, .interests > h2{
  font-size: 1rem;
  margin: 0 0 0.5em 0;
}

.about{
  margin-top: -2em;
  margin-bottom: 1em;
}

.about > p, .interests >p{
  font-size: 0.63rem;
  font-weight: 300;
  line-height: 1rem;
  margin: 0;
}

/* Footer CSS */
.footer{
  margin-top: -1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: #161619;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > a{
  padding: 0.3em;
  background-color: #918E9B;
  padding-bottom: 0.5em;
  margin: 0 1em;
  width: 10%;
  height: 80%;
  text-align: center;
  border-radius: 0.3em;
}


